[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
shell = "*"
django = "*"
pillow = "*"
django-allauth = "*"
razorpay = "*"
python-dotenv = "*"
stripe = "*"
django-heroku = "*"
gunicorn = "*"
cloudinary = "*"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.10"
